* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    font-family: "Space Grotesk", sans-serif;
}

#navBar{

    font-size: 1.2rem;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    width: 1024px;
    max-width: 100%;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    z-index: 4;
    display: flex;
}

#navBar img{
    width: 3rem;
    margin-inline: 1rem;
}

#navBar h1{
    margin: 15px 0px;
    font-size: clamp(1rem, 1.465rem + 5.355vw,1.8rem);
    /* color: white; */
}

.item {
    background-color: rgb(255, 196, 119);
    text-align: center;
    align-content: center;
    font-size: 30px;
    border-radius: 10px;
}

#pikachu {
    position: relative;
    /* left: 5rem; */
    top: 1rem;
    height: 7.5rem;
}



.hero {
    position: relative;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
 
 
 
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(pokeball-pokemon-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    filter: saturate(2);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 80%;
    text-align: center;
    gap: 15px;
    align-items: center;
}

select,
input[type="number"] {
    position: relative;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
    width: 90%;
    border-radius: 10px;
    outline: none;
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
}

input[type="number"]:focus {
    border-color: #9d46e9;
}

input[type="text"]:focus {
    border-color: #9d46e9;
}

#type {
    font-size: clamp(1.5rem, 1.5rem + 2vw, 2.5rem);
    text-transform: capitalize;
    margin: 1.5rem auto;
    width: 90%;
    background-image: linear-gradient(45deg, #5433FF, #20BDFF, #A5FECB);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#btn {
    position: relative;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    width: 90%;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff22da, #9733EE);
    color: rgb(255, 255, 255);
    font-family: "Space Grotesk", sans-serif;
}

#btn:hover {
    background: linear-gradient(60deg, #fc46dd, #9d46e9);
}

#btn:focus {

    outline-color: #c7c7c7;
}

.hero h1 {
    position: relative;
    font-size: clamp(2.5rem, 1.3913rem + 3.0435vw, 3.75rem);
    font-weight: bold;
    /* color: white; */
}

.cardShow {
    display: none;
    border-top: 1px solid rgba(36, 35, 35, 0.466);
    padding-block: 3rem;
    text-align: center;

}

.cardImg {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 3/2;
    padding: 1rem;
}

.stats {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .25rem;
    width: 80%;
    margin-top: 8px;
}

.custom {
    padding: 0.3rem;
    background-color: rgba(209, 209, 209, 0.459);
    border-radius: 6px;
}

.container {

    padding: 20px;
    margin: 0 auto;

    max-width: 1024px;

    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, minmax(200px, auto));
    grid-auto-rows: minmax(200px, auto);

    gap: 20px;
}

.container>* {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(194, 194, 194, 0.164);
    width: 100%;
    border-radius: 10px;
    padding-block: 20px;

}

.container>*:hover {
    scale: 1.05;
    transition: scale 0.3s ease-in-out;
}


#SD {
    position: absolute;
    bottom: 2.5rem;
    animation: down 1.5s infinite;
    display: none;
 
}

#message {
    position: absolute;
    top: 2rem;
    left: 50%;
    color: red;
    font-size: 14px;
    text-align: center;
    transform: translate(-50%, 0%);
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 1px 1px 10px 1px rgba(20, 20, 20, 0.242);
    /* opacity: 0; */
    display: none;
    animation: show 5s;
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateY(15px);
    }

    40% {
        transform: translate(0);
    }
}

@keyframes show {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}